@page
@model CovidPassport.Pages.Persons.IndexModel

@{
    ViewData["Title"] = "Index";

}

<h1>NHS Records</h1>

<p>
    <a asp-page="Create">Add Person</a>
</p>
<form>
    <p>
        <select asp-for="City" asp-items="Model.Cities">
            <option value="">All</option>
        </select>
        Title: <input type="text" asp-for="SearchString" />
        <input type="submit" value="Filter" />
    </p>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @("NHS Number")
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Person[0].Surname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Person[0].FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Person[0].Dob)
            </th>
            <th>
                @("City")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Person) {
        <tr>
            <th>
                @Html.DisplayFor(modelItem => item.PersonId)
            </th>
            <td>
                @Html.DisplayFor(modelItem => item.Surname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dob)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address.City)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.PersonId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.PersonId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.PersonId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
