@page
@model CovidPassport.Pages.Persons.IndexModel

@{
    ViewData["Title"] = "Index";

}

<h1>NHS Records</h1>

<p>
    <a asp-page="Create">Add Person</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Person[0].Surname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Person[0].FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Person[0].NoOfVaccines)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Person[0].Dob)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Person[0].Address)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Person) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Surname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NoOfVaccines)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dob)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address.City)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.PersonId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.PersonId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.PersonId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
