@page
@model CovidPassport.Pages.HealthCentres.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>HealthCentre</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @("Health Centre")
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.HealthCentre.Name)
        </dd>
        <dt class="col-sm-2">
            @("Address")
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.HealthCentre.Address.City)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.HealthCentre.HealthCentreId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
