@page
@model CovidPassport.Pages.HealthCentres.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>NHS Health Centres</h1>

<p>
    <a asp-page="Create">Add Centre</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.HealthCentre[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HealthCentre[0].Address)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.HealthCentre) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address.HouseNumber) @Html.DisplayFor(modelItem => item.Address.StreetName) , @Html.DisplayFor(modelItem => item.Address.City)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.HealthCentreId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.HealthCentreId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.HealthCentreId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
