@page
@model CovidPassport.Pages.Passports.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>NHS Passports</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                @("NHS Number")
            </th>
            <th>
                @("First Name")
            </th>
            <th>
                @("Surname")
            </th>
            <th>
                @("Passport Picture")
            </th>
            <th>
                @("Expiration Date")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Passport) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Person.PersonId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Person.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Person.Surname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Picture)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExpirationDate)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.PassportId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.PassportId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.PassportId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
